html {
    white-space: pre-line;
  }


/* line clamping code to truncate blog entries
  note that this will only work with webkit-based browsers */
.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
  }

.title:hover {
  color:blue;
  cursor: pointer;
}

